@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body{
    background-image: url(fondo.png);
    background-size: cover;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    
}

p, li{
    font-size: 20px;
    
}

.soy {
    text-align: center;
    border-style: double;
    height: 300px;
    width: 800px;
    position: relative;
    left: 31%;
    border-radius: 20px;
}

.volver{
    height: 50px; /* ALTURA */
    width: 100px; /* ANCHO */
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 15px;
    border: 3px solid rgb(0, 0, 0);  
    position: relative;
    left: 46%;
    padding: 14px 28px; 
    cursor: pointer; /*CURSOR MANITO*/
    border-radius: 20px;   
    transition: box-shadow 0.3s ease-in-out; /*TIEMPO DE TRANSICION DE COLOR DE LA SOMBRA DEL BOTON*/
    background-image: linear-gradient(to right, #FFA8A9, #f5b5a6); /*DEGRADADO DE COLORES*/
}

.volver:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /*DEGRADADO DE COLOR DE LA SOMBRA*/
    background-image: linear-gradient(to right, #fbc2b5, #FFA8A9); /*DEGRADADO DE COLORES DEL BOTON*/
}

#ce{
    font-weight: 500;
}

#qa{
    font-weight: 500;
}

.colorlink{
    text-decoration: none;
}